/**
 * body
*/
body {
    /*color: #2f3334;*/
    color: #505050;
    font: 11px Arial, "Times New Roman";
/*    background: #efefef;*/
    line-height: 18px;
    min-width: 1000px;
    padding: 0 0 0 0;
}

.clear-block {
    display: block;
}

#top-header {
/*    background: #1b1f20;*/
    background: #e4e4e4;
    text-align: right;
    height: 17px;
    width: 100%;
    color: white;
}

#top-header span {
    color: #878787;
    font-size: 10px;
    font-style: italic;
    margin: 3px 11px 0 0;
}

#account-header {
/*    background: #1b1f20;*/
  background: #e4e4e4;
  height: 17px;
  width: 100%;
  color: #FF5C00;
  font-size: 10px;
  font-style: italic;
  display: none;
  border-bottom: thin solid #c7c7c7;
}

#account-topic{
  float: left;
  padding-left: 5px;
  width: 40%;
}

#back-link{
  float: right;
  width: 40%;
  text-align: right;
  margin-right: 11px;
}
/**
 * header
*/
#header-wrapper {
    width: 100%;
    background: #f9f9f9;
}

#header-inner {
    margin: 0 auto 0 auto;
    width: 100%;
    height: 110px;
}

#logout a{
    clear: both;
    color: #FF5C00;
    font-weight: bold;
}
/**
 * menu
*/
#menu-wrapper {
    /*  background: #2F3334 url(../images/gray-bg-menu.gif) repeat-x;*/
    /*background: #2F3334 url(../images/blue-bg-menu.gif) repeat-x;*/
    background: #e4e4e4 url(../images/orange-bg-menu.gif) repeat-x;
    width: 100%;
    position: relative;
}

#menu-inner {
    margin: 0 auto 0 auto;
    width: 60%;
    float: left;
    height: 39px;
    width: 100%;
    position:absolute;
}
#menu-logo {
    background: url(../images/logo-menu.png) no-repeat;
    background-position: right;
    height: 39px;
    margin: 0 11px 0 auto;
    text-align: right;
}
/**
 * content
*/
#content-wrapper {
    border-top: 1px solid #fff;
    width: 100%;
    clear: both;
}

#content-inner {
    background: #fff url(../images/bg-content.gif) repeat-x;
    padding: 28px 0 40px 0;
    margin: 0 auto 0 auto;
    width: 100%;
    min-height: 800px;
    overflow: auto;
}

#content {
    margin: 0 40px 0 40px;
}

/**
 * footer
*/
#footer-wrapper {
    width: 100%;
}

#footer-inner {
    background: transparent url(../images/bg-footer.png) repeat-x;
    /*margin: 0 auto 0 auto;*/
    width: 100%;
    height: 65px;
}

#logo-footer {
    float: right;
    margin: 4px 12px 0 0;
}

/**
 * Logo
*/
#logo {
    margin: 20px 0 0 15px;
    width: 190px;
    height: 72px;
    float: left;
}

.blue #logo {
    background: transparent url(../images/green-logo-top.png) no-repeat 0 0;
}

.gray #logo {
    background: transparent url(../images/green-logo-top.png) no-repeat 0 0;
}

.green #logo {
    background: transparent url(../images/green-logo-top.png) no-repeat 0 0;
}

.orange #logo {
    background: transparent url(../images/orange-logo-top.png) no-repeat 0 0;
}

.pink #logo {
    background: transparent url(../images/green-logo-top.png) no-repeat 0 0;
}


/**
 * Default Links
*/
a:link,
a:visited,
a:hover {
    text-decoration: none;
}

.blue a:link, 
.blue a:visited {
    color: #0b1d2c;
}

.blue a:hover {
    color: #315879;
}

.gray a:link, 
.gray a:visited {
    color: #666666;
}

.gray a:hover {
    color: #cccccc;
}

.green a:link, 
.green a:visited {
    color: #2f702f;
}

.green a:hover {
    color: #59a059;
}

.orange a:link, 
.orange a:visited {
    color: #FF5C00;
}

.orange a:hover {
    color: #fe9d2a;
}

.pink a:link, 
.pink a:visited {
    color: #fa04c9;
}

.pink a:hover {
    color: #fa6ce2;
}

/**
 * header-info
*/
#header-info {
    /*color: #ffffff;*/
    text-align: right;
    margin: 2px 12px 0 0;
    padding: 7px 10px 7px 10px;
    float: right;
}

.blue #header-info {
    border-right: 1px solid #315879;
}

.gray #header-info {
    border-right: 1px solid #999999;
}

.green #header-info {
    border-right: 1px solid #2e6e2e;
}

.orange #header-info {
    border-right: 1px solid #FF5C00;
}

.pink #header-info {
    border-right: 1px solid #fa02ce;
}

/**
 * color management
*/
#style {
    width: 100%;
    float: left;
}

#style-info {
    float: right;
}

#color-actual {
    border: 1px solid #ffffff;
    margin: 0 0 0 5px;
    width: 12px;
    height: 12px;
    float: right;
    cursor: pointer;
}

.blue #color-actual {
    background: #315879;
}

.gray #color-actual {
    background: #666666;
}

.green #color-actual {
    background: #2e6e2e;
}

.orange #color-actual {
    background: #FF5C00;
}

.pink #color-actual {
    background: #fa02ce;
}

#colors {
    width: 100%;
    float: right;
    display: none;
}

.color-option {
    border: 1px solid #ffffff;
    margin: 0 0 0 5px;
    width: 12px;
    height: 12px;
    float: right;
    cursor: pointer;
}

.color-option.blue-option {
    background: #315879;
}

.color-option.gray-option {
    background: #666666;
}

.color-option.green-option {
    background: #2e6e2e;
}

.color-option.orange-option {
    background: #FF5C00;
}

.color-option.pink-option {
    background: #fa02ce;
}

/**
 * main-menu
*/
.main-menu {
    width: 100%;
}

.main-menu li {
    float: left;
    position: relative;
    z-index: 50;
}

.main-menu li a {
    font-size: 11px;
    border: #2f3334 0px solid;
    padding: 10px 12px 0 12px;
    height: 29px;
    float: left;
    cursor: pointer;
}

.blue .main-menu li a {
    color: #ffffff;
    font-weight: bold;
}

.blue .main-menu li a:hover,
.blue .main-menu li:hover a,
.blue .main-menu li.active a {
    background: #315879;
    font-weight: bold;
}

.gray .main-menu li a {
    color: #ffffff;
}

.gray .main-menu li a:hover,
.gray .main-menu li:hover a,
.gray .main-menu li.active a {
    background: #666666;
}

.green .main-menu li a {
    color: #ffffff;
}

.green .main-menu li a:hover,
.green .main-menu li:hover a,
.green .main-menu li.active a {
    background: #2f702f;
}

.orange .main-menu li a {
    color: #878787;
    font-weight: bold;
}
.orange .main-menu li a:hover,
.orange .main-menu li:hover a,
.orange .main-menu li.active a {
    background: #ff5c00;
/*    background: #FF5C00;*/
    font-weight: bold;
    color: white;
}

.pink .main-menu li a {
    color: #ffffff;
}

.pink .main-menu li a:hover,
.pink .main-menu li:hover a,
.pink .main-menu li.active a {
    background: #FA02CE;
}

/**
 * sub-menu
*/
.main-menu li .sub-menu { 
    float: left;
    position: absolute;
    left: -999em;
}

.main-menu li:hover .sub-menu { 
    width: 160px;
    display: block;
    top: 39px;
    left: 0;
}

.main-menu li:hover .sub-menu li {
    position: relative;
    z-index: 998;
}

.main-menu li:hover .sub-menu li a {
    font-size: 11px;
    color: #fff;
    border-top: none;
    font-weight: normal;
    text-transform: none;
    padding: 2px 0 0 15px;
    width: 180px;
    height: 20px;
    float: left;
}

.blue .main-menu li:hover .sub-menu li a {
    color: #fff;
    background: #272727;
    font-weight: bold;
    /*border-bottom: 1px solid #50718C;*/
}

.blue .main-menu li:hover .sub-menu li.active a,
.blue .main-menu li:hover .sub-menu li:hover a {
    background: #315879;
}

.gray .main-menu li:hover .sub-menu li a {
    color: #fff;
    background: #272727;
    /*border-bottom: 1px solid #999; */
}

.gray .main-menu li:hover .sub-menu li.active a,
.gray .main-menu li:hover .sub-menu li:hover a {
    background: #666;
}

.green .main-menu li:hover .sub-menu li a {
    color: #fff;
    background: #272727;
    /*border-bottom: 1px solid #59a059;*/
}

.green .main-menu li:hover .sub-menu li.active a,
.green .main-menu li:hover .sub-menu li:hover a {
    background: #2F702F;
}

.orange .main-menu li:hover .sub-menu li a {
  color: #fff;
  background: #7e7e7e;
  font-weight: bold;
}

.orange .main-menu li:hover .sub-menu li.active a,
.orange .main-menu li:hover .sub-menu li:hover a {
    background: #ff5c00;
}

.pink .main-menu li:hover .sub-menu li a {
    color: #fff;
    background: #272727;
    /*border-bottom: 1px solid #fa6ce2;*/
}

.pink .main-menu li:hover .sub-menu li.active a,
.pink .main-menu li:hover .sub-menu li:hover a {
    background: #FA02CE;
}

.main-menu li:hover .sub-menu li.expanded a {
    background: #7e7e7e url(../images/menu-arrow.png) no-repeat  183px 8px;
}

/**
 * Side Menu
*/
.main-menu li .sub-menu li .side-menu { 
    float: left;
    position: absolute;
    left: -999em; 
}

.main-menu  li:hover .sub-menu li:hover .side-menu{
    width: 160px;
    display: block;
    top: 0;
    left: 195px;
}

.main-menu  li .sub-menu li .side-menu li {
    position: relative;
}

.main-menu  li .sub-menu li:hover .side-menu li a {
    font-size: 11px;
    font-weight: normal;
    text-transform: none;
    border-top: none;
    padding: 2px 0 0 15px;
    width: 180px;
    height: 20px;
    float: left;
}

.blue .main-menu li .sub-menu li:hover .side-menu li a {
    color: #fff;
    background: #272727;
    font-weight: bold;
    font-size: 11px;
    /*border-bottom: 1px solid #50718C;*/
}

.blue .main-menu li .sub-menu li:hover .side-menu li.active a,
.blue .main-menu li .sub-menu li:hover .side-menu li:hover a {
    background: #315879;
    font-weight: bold;
    font-size: 11px;
}

.gray .main-menu li .sub-menu li:hover .side-menu li a {
    color: #fff;
    background: #272727;
    /*border-bottom: 1px solid #999;*/
}

.gray .main-menu li .sub-menu li:hover .side-menu li.active a,
.gray .main-menu li .sub-menu li:hover .side-menu li:hover a {
    background: #666;
}

.green .main-menu li .sub-menu li:hover .side-menu li a {
    color: #fff;
    background: #272727;
    /*border-bottom: 1px solid #59a059;*/
}

.green .main-menu li .sub-menu li:hover .side-menu li.active a,
.green .main-menu li .sub-menu li:hover .side-menu li:hover a {
    background: #2F702F;
}

.orange .main-menu li .sub-menu li:hover .side-menu li a {
    color: #fff;
    background: #7e7e7e;
    font-weight: bold;
    font-size: 11px;
    /*border-bottom: 1px solid #fe9d2a;*/
}

.orange .main-menu li .sub-menu li:hover .side-menu li.active a,
.orange .main-menu li .sub-menu li:hover .side-menu li:hover a {
    background: #ff5c00;
    font-weight: bold;
    font-size: 11px;
}

.pink .main-menu li .sub-menu li:hover .side-menu li a {
    color: #fff;
    background: #272727;
    /*border-bottom: 1px solid #fa6ce2;*/
}

.pink .main-menu li .sub-menu li:hover .side-menu li.active a,
.pink .main-menu li .sub-menu li:hover .side-menu li:hover a {
    background: #FA02CE;
}

/**
 * titles h1, h2 ...
*/
h1 {
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 25px 0;
}

.blue h1 {
    color: #315879;
}

.gray h1 {
    color: #666666;
}

.green h1 {
    color: #2e6e2e;
}

.orange h1 {
    color: #FF5C00;
}

.pink h1 {
    color: #fa02ce;
}

tspan {
}

.blue tspan {
    fill: #315879;
}

.gray tspan {
    fill: #666666;
}

.green tspan {
    fill: #2e6e2e;
}

.orange tspan {
    fill: #FF5C00;
}

.pink tspan {
    fill: #fa02ce;
}

/**
 * status-message
*/
#status-message {
    font-style: italic;
    margin: 0 40px 19px 40px;	
}

/**
 * loading
*/
#loading {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 22px;
    background: #cccccc url(../images/ajax-loader.gif) 15px 5px no-repeat;
    padding: 10px 0 0 55px;
    width: 100px;
    height: 30px;
    position: fixed;
    right:  45%;
    bottom: 0;
    display: none;
    opacity: 0.6;
    /* for IE */
    filter: alpha(opacity=60);	
}

/**
 * forms
*/
fieldset {
    border: 1px solid #eaeaea;
    margin: 15px 0 15px 0;
    padding: 0 15px 0 15px;
}

.form-item {
    margin: 10px 0 15px 0;
}

label {
    margin-right: 15px;
    float: left;	
    display: block;
    width: 144px;
}

input {
    color: #666666;
    font-size: 12px;
    background: #f2f2f2;
    margin: 0 10px 0 0;
    padding: 0 3px 0 3px;
    height: 20px;
    /*apply rounded corners
    -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;*/
}

.field {
    width:100%;
    overflow:auto;
    margin:15px 0px;    
}

textarea {
    color: #666666;
    font-family: "Trebuchet MS", Arial, "Times New Roman";
    font-size: 12px;
    background: #f2f2f2;
    margin: 0 10px 0 0;
    padding: 0 3px 0 3px;
    /*apply rounded corners
    -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;*/
}

select {
    color: #666666;
    font-size: 12px;
    background: #f2f2f2;
    margin: 0 10px 0 0;
    height: 21px;
    /*apply rounded corners
    -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;*/
}

select option {
    padding: 0 3px 0 3px;
}

.blue select,
.blue input,
.blue textarea {
    border: 1px solid #061c45;
}

.gray select,
.gray input,
.gray textarea {
    border: 1px solid #999999;
}

.green select,
.green input,
.green textarea {
    border: 1px solid #2e6e2e;
}

.orange select,
.orange input,
.orange textarea {
    border: thin solid #999999;
}

.pink select,
.pink input,
.pink textarea {
    border: 1px solid #fa02ce;
}

.button,
.form-reset input,
.form-submit input {
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px 1px 5px;
    height: 22px;
    cursor: pointer;
}

/*
.blue .button,
.blue .form-reset input,
.blue .form-submit input {
	color: #bdddec;
	background: #0d1f2e;
}

.gray .button,
.gray .form-reset input,
.gray .form-submit input {
	color: #ffffff;
	background: #666666;
}

.green .button,
.green .form-reset input,
.green .form-submit input {
	color: #86F186;
	background: #2f702f;
}

.orange .button,
.orange .form-reset input,
.orange .form-submit input {
	color: #ffffff;
	background: #e67c04;
}

.pink .button,
.pink .form-reset input,
.pink .form-submit input {
	color: #ffffff;
	background: #fa02ce;
}
*/

.upload-button {
    margin: 3px 0 0 0;
    display: block;
    cursor: pointer;
}

.upload-button span {
    background: #eeeeee;
    font-size:11px;
    font-weight:bold;
    border: 1px solid;
    padding: 5px 5px;
    height:22px;
}

.upload-button.disabled { 
    background: url(../images/ajax-uploader.gif) no-repeat left;
    padding: 0 0 0 20px;  
}

#uploaded-files li {
    margin: 3px 0 3px 0;
}

.file-delete {
    color: transparent;
    font-size: 0;
    padding: 3px 0 0 0;
    height: 20px;
    width: 20px;
    display: inline-block;
}

.blue .file-delete {
    background: url(../images/blue-delete-icon.png) no-repeat 0 0;
}

.gray .file-delete {
    background: url(../images/gray-delete-icon.png) no-repeat 0 0;
}

.green .file-delete {
    background: url(../images/green-delete-icon.png) no-repeat 0 0;
}

.orange .file-delete {
    background: url(../images/orange-delete-icon.png) no-repeat 0 0;
}

.pink .file-delete {
    background: url(../images/pink-delete-icon.png) no-repeat 0 -3px;
}

/**
 * table listview
*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px 0 20px 0;
    width: 100%;
    float: left;
}

table th { 
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    border-bottom: 1px solid #ababab;
}

.blue table th {
    color: #061c45;
}

.gray table th {
    color: #666666;
}

.green table th {
    color: #2e6e2e ;
}

.orange table th {
    color: #FF5C00;
}

.pink table th {
    color: #fa02ce;
}

table tr.even  {
    background: #ececec;
}

table td {
    padding: 6px 0 6px 3px;
}

/**
 * classes related to the table jquery plugin
*/
.dataTables_filter {
    float: right;
}

.dataTables_length,
.dataTables_info,
.dataTables_paginate {
    float: left;
}

.paginate_disabled_previous, 
.paginate_enabled_previous, 
.paginate_disabled_next, 
.paginate_enabled_next {
    height: 15px;
    width: 15px;
    margin-left: 3px;
    float: left;
}

.paginate_disabled_previous {
    background: url('../images/arrow-previous.png') no-repeat;
    opacity: 0.3;
    /* for IE */
    filter: alpha(opacity=30);
}

.paginate_enabled_previous {
    background: url('../images/arrow-previous.png') no-repeat;
    cursor: pointer;
}

.paginate_disabled_next {
    background: url('../images/arrow-next.png') no-repeat;
    opacity: 0.3;
    /* for IE */
    filter: alpha(opacity=30);
}

.paginate_enabled_next {
    background: url('../images/arrow-next.png') no-repeat;
    cursor: pointer;
}

.sorting {
    background: url('../images/sort-both.png') no-repeat center left;
    padding: 0 0 0 20px;
    cursor: pointer;
}

.sorting_asc {
    background: url('../images/sort-asc.png') no-repeat center left;
    padding: 0 0 0 20px;
    cursor: pointer;
}

.sorting_desc {
    background: url('../images/sort-desc.png') no-repeat center left;
    padding: 0 0 0 20px;
    cursor: pointer;
}

/**
 * Tooltips
*/
.tooltip {
    text-indent: -999em;
    margin: 0 0 2px 0;
    width: 22px;
    height: 20px;
    /*overflow: hidden;*/
    display: inline-block;
    cursor: pointer;
}

.blue .tooltip {
    background: url(../images/blue-tooltip-icon.png) no-repeat 0 0;
}

.gray .tooltip {
    background: url(../images/gray-tooltip-icon.png) no-repeat 0 0;
}

.green .tooltip {
    background: url(../images/green-tooltip-icon.png) no-repeat 0 0;
}

.orange .tooltip {
    background: url(../images/orange-tooltip-icon.png) no-repeat 0 0;
}

.pink .tooltip {
    background: url(../images/pink-tooltip-icon.png) no-repeat 0 0;
}

.tooltip-text {
    display: none;
}

#tooltip-box {
    color: #888;
    font-size: 11px;
    max-width: 200px;
    min-width: 20px;
    margin: 0;
    padding: 5px;
    display: none;
    position: absolute;
    background: #f6f6f6;
    z-index: 999;
}

.blue #tooltip-box {
    border: 1px solid #061c45;
}

.gray #tooltip-box {
    border: 1px solid #666666;	
}

.green #tooltip-box {
    border: 1px solid #2e6e2e;	
}

.orange #tooltip-box {
    border: 1px solid #FF5C00;
}

.pink #tooltip-box {
    border: 1px solid #fa02ce;	
}

.default_open div.tooltip-text {
    padding: 5px;
}

/**
 * Icons
*/
.agent-icon,
.agentkick-icon,
.agentoffline-icon,
.agentpaused-icon,
.agentconnected-icon,
.agentavailable-icon,
.play-icon,
.trouble-ticket-icon,
.graphs-icon,
.excel-icon,
.directory-icon,
.edit-icon,
.case-icon,
.event-icon,
.music-icon,
.group-icon,
.delete-icon,
.refresh-icon,
.download-icon,
.admin-console-icon{ 
    text-indent: -999em;
    width: 20px;
    height: 20px;
    float: left;
    overflow: hidden;
}

.blue .case-icon {
    background: url(../images/memo.png) no-repeat 0 0;
}

.blue .event-icon {
    background: url(../images/doc_16.png) no-repeat 0 0;
}
.blue .edit-icon {
    background: url(../images/blue-edit-icon.png) no-repeat 0 0;
}

.gray .edit-icon {
    background: url(../images/gray-edit-icon.png) no-repeat 0 0;
}

.green .edit-icon {
    background: url(../images/green-edit-icon.png) no-repeat 0 0;
}

.orange .edit-icon {
    background: url(../images/orange-edit-icon.png) no-repeat 0 0;
}

.pink .edit-icon {
    background: url(../images/pink-edit-icon.png) no-repeat 0 0;
}

.blue .delete-icon {
    background: url(../images/blue-delete-icon.png) no-repeat 0 0;
}

.gray .delete-icon {
    background: url(../images/gray-delete-icon.png) no-repeat 0 0;
}

.green .delete-icon {
    background: url(../images/green-delete-icon.png) no-repeat 0 0;
}

.orange .delete-icon {
    background: url(../images/orange-delete-icon.png) no-repeat 0 0;
}

.orange .trouble-ticket-icon {
    background: url(../images/orange-trouble-ticket-icon.png) no-repeat 0 0;
}

.pink .delete-icon {
    background: url(../images/pink-delete-icon.png) no-repeat 0 0;
}

.blue .refresh-icon {
    background: url(../images/blue-refresh-icon.png) no-repeat 0 0;
}

.gray .refresh-icon {
    background: url(../images/gray-refresh-icon.png) no-repeat 0 0;
}

.green .refresh-icon {
    background: url(../images/green-refresh-icon.png) no-repeat 0 0;
}

.orange .refresh-icon {
    background: url(../images/orange-refresh-icon.png) no-repeat 0 0;
}

.pink .refresh-icon {
    background: url(../images/pink-refresh-icon.png) no-repeat 0 0;
}

.blue .admin-console-icon {
    background: url(../images/blue-admin-console-icon.png) no-repeat 0 0;
}

.gray .admin-console-icon {
    background: url(../images/gray-admin-console-icon.png) no-repeat 0 0;
}

.green .admin-console-icon {
    background: url(../images/green-admin-console-icon.png) no-repeat 0 0;
}

.orange .admin-console-icon {
    background: url(../images/orange-admin-console-icon.png) no-repeat 0 0;
}

.pink .admin-console-icon {
    background: url(../images/pink-admin-console-icon.png) no-repeat 0 0;
}

.gray .directory-icon {
    background: url(../../../images/directory.png) no-repeat 0 0;
}

.gray .excel-icon {
    background: url(../../../images/excel_16x16.png) no-repeat 0 0;
}
.green .excel-icon {
    background: url(../../../images/excel_16x16.png) no-repeat 0 0;
}
.pink .excel-icon {
    background: url(../../../images/excel_16x16.png) no-repeat 0 0;
}
.orange .excel-icon {
    background: url(../../../images/excel_16x16.png) no-repeat 0 0;
}
.blue .excel-icon {
    background: url(../../../images/excel_16x16.png) no-repeat 0 0;
}

.gray .graphs-icon {
    background: url(../../../images/graph_bars.png) no-repeat 0 0;
}
.blue .graphs-icon {
    background: url(../../../images/graph_bars.png) no-repeat 0 0;
}
.green .graphs-icon {
    background: url(../../../images/graph_bars.png) no-repeat 0 0;
}
.pink .graphs-icon {
    background: url(../../../images/graph_bars.png) no-repeat 0 0;
}
.orange .graphs-icon {
    background: url(../../../images/graph_bars.png) no-repeat 0 0;
}

.gray .play-icon {
    background: url(../images/gray-voicemail-icon.png) no-repeat 0 3px;
}
.blue .play-icon {
    background: url(../images/blue-voicemail-icon.png) no-repeat 0 3px;
}
.green .play-icon {
    background: url(../images/green-voicemail-icon.png) no-repeat 0 3px;
}
.pink .play-icon {
    background: url(../images/pink-voicemail-icon.png) no-repeat 0 3px;
}
.orange .play-icon {
    background: url(../images/orange-voicemail-icon.png) no-repeat 0 3px;
}

.gray .agent-icon {
    background: url(../../../images/admin.png) no-repeat 0 3px;
}
.blue .agent-icon {
    background: url(../../../images/admin.png) no-repeat 0 3px;
}
.green .agent-icon {
    background: url(../../../images/admin.png) no-repeat 0 3px;
}
.orange .agent-icon {
    background: url(../../../images/admin.png) no-repeat 0 3px;
}
.pink .agent-icon {
    background: url(../../../images/admin.png) no-repeat 0 3px;
}

.blue .group-icon {
    background: url(../../../images/group.png) no-repeat 0 0;
}

.gray .group-icon {
    background: url(../../../images/group.png) no-repeat 0 0;
}

.green .group-icon {
    background: url(../../../images/group.png) no-repeat 0 0;
}

.orange .group-icon {
    background: url(../images/group.png) no-repeat 0 0;
}

.pink .group-icon {
    background: url(../../../images/group.png) no-repeat 0 0;
}

.blue .music-icon {
    background: url(../images/blue-music-icon.png) no-repeat 0 3px;
}

.gray .music-icon {
    background: url(../images/gray-music-icon.png) no-repeat 0 3px;
}

.green .music-icon {
    background: url(../images/green-music-icon.png) no-repeat 0 3px;
}

.orange .music-icon {
    background: url(../images/orange-music-icon.png) no-repeat 0 3px;
}

.pink .music-icon {
    background: url(../images/pink-music-icon.png) no-repeat 0 3px;
}

.blue .agentkick-icon {
    background: url(../images/logout.png) no-repeat 0 3px;
}

.gray .agentkick-icon {
    background: url(../images/logout.png) no-repeat 0 3px;
}

.green .agentkick-icon {
    background: url(../images/logout.png) no-repeat 0 3px;
}

.orange .agentkick-icon {
    background: url(../images/logout.png) no-repeat 0 3px;
}

.pink .agentkick-icon {
    background: url(../images/logout.png) no-repeat 0 3px;
}

.blue .agentoffline-icon {
    background: url(../images/offline16x16.png) no-repeat 0 3px;
    cursor: default;
}

.gray .agentoffline-icon {
    background: url(../images/offline16x16.png) no-repeat 0 3px;
    cursor: default;
}

.green .agentoffline-icon {
    background: url(../images/offline16x16.png) no-repeat 0 3px;
    cursor: default;
}

.orange .agentoffline-icon {
    background: url(../images/offline16x16.png) no-repeat 0 3px;
    cursor: default;
}

.pink .agentoffline-icon {
    background: url(../images/offline16x16.png) no-repeat 0 3px;
    cursor: default;
}

.blue .agentpaused-icon {
    background: url(../images/away16x16.png) no-repeat 0 3px;
    cursor: default;
    margin: 0 5px 0 0;
}

.gray .agentpaused-icon {
    background: url(../images/away16x16.png) no-repeat 0 3px;
    cursor: default;
    margin: 0 5px 0 0;
}

.green .agentpaused-icon {
    background: url(../images/away16x16.png) no-repeat 0 3px;
    cursor: default;
    margin: 0 5px 0 0;
}

.orange .agentpaused-icon {
    background: url(../images/away16x16.png) no-repeat 0 3px;
    cursor: default;
    margin: 0 5px 0 0;
}

.pink .agentpaused-icon {
    background: url(../images/away16x16.png) no-repeat 0 3px;
    cursor: default;
    margin: 0 5px 0 0;
}

.blue .agentavailable-icon {
    background: url(../images/available16x16.png) no-repeat 0 3px;
    cursor: default;
    margin: 0 5px 0 0;
}

.gray .agentavailable-icon {
    background: url(../images/available16x16.png) no-repeat 0 3px;
    cursor: default;
    margin: 0 5px 0 0;
}

.green .agentavailable-icon {
    background: url(../images/available16x16.png) no-repeat 0 3px;
    cursor: default;
    margin: 0 5px 0 0;
}

.orange .agentavailable-icon {
    background: url(../images/available16x16.png) no-repeat 0 3px;
    cursor: default;
    margin: 0 5px 0 0;
}

.pink .agentavailable-icon {
    background: url(../images/available16x16.png) no-repeat 0 3px;
    cursor: default;
    margin: 0 5px 0 0;
}

.blue .agentconnected-icon {
    background: url(../images/busy16x16.png) no-repeat 0 3px;
    cursor: default;
    margin: 0 5px 0 0;
}

.gray .agentconnected-icon {
    background: url(../images/busy16x16.png) no-repeat 0 3px;
    cursor: default;
    margin: 0 5px 0 0;
}

.green .agentconnected-icon {
    background: url(../images/busy16x16.png) no-repeat 0 3px;
    cursor: default;
    margin: 0 5px 0 0;
}

.orange .agentconnected-icon {
    background: url(../images/busy16x16.png) no-repeat 0 3px;
    cursor: default;
    margin: 0 5px 0 0;
}

.pink .agentconnected-icon {
    background: url(../images/busy16x16.png) no-repeat 0 3px;
    cursor: default;
    margin: 0 5px 0 0;
}

.blue .download-icon {
    background: url(../images/blue-download-icon.png) no-repeat 0 3px;
}

.gray .download-icon {
    background: url(../images/gray-download-icon.png) no-repeat 0 3px;
}

.green .download-icon {
    background: url(../images/green-download-icon.png) no-repeat 0 3px;
}

.orange .download-icon {
    background: url(../images/orange-download-icon.png) no-repeat 0 3px;
}

.pink .download-icon {
    background: url(../images/pink-download-icon.png) no-repeat 0 3px;
}
/*
 * Right Top, info about the current user
*/
#header-info .form-item {
    margin: 0;
}

#header-info label {
    margin: 0 5px 0 0;
    display: inline;
}

#header-info select {
    margin: 0 -2px 3px 0;
    padding: 0;
    height: 20px;
}

/**
 * Dahsboard
*/
.dashboard li {
    border: 1px solid #ccc;
    width: 320px;
    height: 265px;
    float: left;
    margin: 0 20px 20px 0;
    position: relative;
    z-index: 0;
}

/**
 * Pager
*/ 
.pager {
    width: 100%;
    float: left;
    clear: both;
}

.pager li {
    text-align: center;
    padding: 1px 4px 2px 4px;
    margin: 0 5px 0 0;
    height: 15px;
    float: left;
}

.pager li a {
    cursor: pointer;
}

.pager li.disabled {
    opacity: 0.3;
    /* for IE */
    filter: alpha(opacity=30);
}

.pager li.pager-previous a,
.pager .disabled.pager-previous {
    font-size: 0px;
    width: 14px;
    background: url(../images/arrow-previous.png) no-repeat 0 0;
    float: left;
}

.pager li.pager-next a, 
.pager .disabled.pager-next {
    font-size: 0px;
    width: 14px;
    background: url(../images/arrow-next.png) no-repeat 0 0;
    float: left;
}


.blue .pager li.active {
    border: 1px solid #061c45;
} 

.gray .pager li.active {
    border: 1px solid #666666;	
}

.green .pager li.active {
    border: 1px solid #2e6e2e;	
}

.orange .pager li.active {
    border: 1px solid #FF5C00;
}

.pink .pager li.active{
    border: 1px solid #fa02ce;	
}

/**
 * Sort
*/
.sort {
    background: url('../images/sort-both.png') no-repeat;
    padding: 1px 0 1px 20px;
    cursor: pointer;
}

.sort.asc {
    background: url('../images/sort-asc.png') no-repeat;
}

.sort.desc {
    background: url('../images/sort-desc.png') no-repeat;
}

/**
 * Search Form
*/ 
#search_query_form {
    float: right;
}

/**
 * Login Page
*/
.login-page {
    /*background: #CCCCCC;*/
    color: #999;
}

#login-wrapper {
    margin: 100px auto 0 auto;
    width: 400px;
}

#login-wrapper #logo {
    float: none;
    margin: 20px auto;
}

#login-form {
    background: url(../images/bg-body.jpg) center -60px;
    padding: 20px 0 44px 20px;
    height: 145px;
		margin: 31px 0 0 0;
}

#hive-login-error-msg{
    color: red;
    font-weight: bold;
}

#login-form .form-text label {
    color: #FFFFFF;
}

#login-form .form-text input {
    width: 220px;
}

#login-wrapper #footer-inner {
    width: 100%;
    opacity: 0.6;
    /* for IE */
    filter: alpha(opacity=60);
}


.multiple-select-container {
    margin: 0 0 0 125px;
}

/**
 * This css block is for the campaign-time fieldset
*/
#campaign-time {
    max-width: 1250px;
}

#campaign-time .form-item {
    border: 0;
    margin: 10px 0 0 0;
    *margin: -5px 0 0 0;
    width: 12%;
    float: left;
}

#campaign-time .form-item label {
    width: 100%;
}

#campaign-time .form-item input {
    width: 60%;
}

#campaign-time #form-item-sunday_start_time {
    clear: right;
}

#campaign-time #form-item-monday_stop_time {
    clear: left;
}

#campaign-time #form-item-monday_start_time .start {
    margin: 0 10px  0 -34px;
}

#campaign-time #form-item-monday_stop_time .stop {
    margin: 0 10px 0 -34px;
}

#campaign-time #form-item-monday_start_time,
#campaign-time #form-item-monday_stop_time {
    margin: 10px 0 10px 40px;
}

#campaign-time #form-item-sunday_start_time,
#campaign-time #form-item-sunday_stop_time {
    *margin: -5px 40px 0 0;
}

#campaign-time #form-item-monday_start_time {
    *margin-top: -5px;
}

#campaign-time #form-item-monday_stop_time {
    *margin-top: -15px;
}

#campaign-time-view {
    max-width: 1250px;
}

#campaign-time-view .form-item {
    border: 0;
    margin: 10px 0 0 0;
    *margin: -5px 0 0 0;
    width: 12%;
    float: left;
}

#campaign-time-view .form-item label {
    width: 100%;
}

#campaign-time-view .form-item input {
    width: 60%;
}

#campaign-time-view #form-item-sunday_start_time {
    clear: right;
}

#campaign-time-view #form-item-monday_stop_time {
    clear: left;
}

#campaign-time-view #form-item-monday_start_time .start {
    margin: 0 10px  0 -34px;
}

#campaign-time-view #form-item-monday_stop_time .stop {
    margin: 0 10px 0 -34px;
}

#campaign-time-view #form-item-monday_start_time,
#campaign-time-view #form-item-monday_stop_time {
    margin: 10px 0 10px 40px;
}

#campaign-time-view #form-item-sunday_start_time,
#campaign-time-view #form-item-sunday_stop_time {
    *margin: -5px 40px 0 0;
}

#campaign-time-view #form-item-monday_start_time {
    *margin-top: -5px;
}

#campaign-time-view #form-item-monday_stop_time {
    *margin-top: -15px;
}
/*
 * Style for campaign status
*/
span.campaign-status {
    width: 80px;
    float: left;
}

.campaign-icon {
    margin: 0 2px;
    width: 15px;
    height: 17px;
    float: left;
    cursor: pointer;
}

.campaign-icon.disabled {
    cursor: default;
}

.blue .campaign-play {
    background:  url(../images/blue-play-pause-stop.png) 0px 0px;
}

.gray .campaign-play {
    background:  url(../images/gray-play-pause-stop.png) 0px 0px;
}

.green .campaign-play {
    background:  url(../images/green-play-pause-stop.png) 0px 0px;
}

.orange .campaign-play {
    background:  url(../images/orange-play-pause-stop.png) 0px 0px;
}

.pink .campaign-play {
    background:  url(../images/pink-play-pause-stop.png) 0px 0px;
}

.blue .campaign-pause {
    background:  url(../images/blue-play-pause-stop.png) 30px 0px;
}

.gray .campaign-pause {
    background:  url(../images/gray-play-pause-stop.png) 30px 0px;
}

.green .campaign-pause {
    background:  url(../images/green-play-pause-stop.png) 30px 0px;
}

.orange .campaign-pause {
    background:  url(../images/orange-play-pause-stop.png) 30px 0px;
}

.pink .campaign-pause {
    background:  url(../images/pink-play-pause-stop.png) 30px 0px;
}

.blue .campaign-stop {
    background:  url(../images/blue-play-pause-stop.png) 15px 0px;
}

.gray .campaign-stop {
    background:  url(../images/gray-play-pause-stop.png) 15px 0px;
}

.green .campaign-stop {
    background:  url(../images/green-play-pause-stop.png) 15px 0px;
}

.orange .campaign-stop {
    background:  url(../images/orange-play-pause-stop.png) 15px 0px;
}

.pink .campaign-stop {
    background:  url(../images/pink-play-pause-stop.png) 15px 0px;
}

.campaign-alert {
    margin: 0 0 0 40px;
    float: left;
}

.graph-in-panel {
    height: 280px;
    position: relative;
}

#agent-console {
    height: 70px;
    float: left;
}

#agent-console span {
    color: #333;
}


#agent-console #agent-console-icons {
    color: #333;
    margin: 5px 0 0 0;
    width: 100%;
}

.apple-icon{
    text-indent: -999em;
    width: 36px;
    height: 60px;
    float: left;
    overflow: hidden;
    padding: 63px;
    background: url(../images/apple_logo.png) no-repeat 0 0;
}

.windows-icon{
    text-indent: -999em;
    width: 36px;
    height: 60px;
    float: left;
    overflow: hidden;
    margin-right: 120px;
    background: url(../images/windows_logo.png) no-repeat 0 0;
}

.linux-icon{
    text-indent: -999em;
    width: 36px;
    height: 60px;
    float: left;
    overflow: hidden;
    background: url(../images/linux_logo.png) no-repeat 0 0;
}

.server-dashboard{
    width: 100%;
    background: #FFFFFF;
    border: #DDDDDD 1px solid;
}

.server-environment,
.server-properties{
    width: 100%;
    background: #FFFFFF;
    border: #DDDDDD 1px solid;
    margin-bottom: 5px;
}

.session-prop-header,
.session-env-header{
    background: #2F3334 url(../images/panel_bg.gif) repeat-x;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
}

.server-env-title,
.server-prop-title{
    padding: 5px;
}

.server-env-content,
.server-prop-content{
    background: #FFFFFF;
}

.server-prop-info{
    width: 50%;
    height: 180px;
    border-right: #DDDDDD 1px solid;
    margin: 15px;
    float: left;
    position: relative;
}

.server-env-info{
    width: 50%;
    border-right: #DDDDDD 1px solid;
    margin: 15px;
}

.server-prop-info-right{
    padding: 15px;
    height: 180px;
    margin: 15px;
}

.server-env-info-right{
    left: 50%;
    padding: 15px;
    margin: 15px;
    top: 530px;
    position: absolute;
}

.server-env-info{
    height: 280px;
}

.server-log-info{
    height: 380px;
    margin: 0 15px 0 15px;
}

.server-log-info table td{
    color: red;
}

.disk-util{
    position: absolute;
    float: left;
    width: 100%;
}

.info-desc{
    font-weight: bold;
}
.subtitle{
    background: #2F3334;
    width: 100%;
}

.server-env-info label,
.server-prop-info label{
    font-weight: bold;
    width: 180px;
}

.server-env-info-right label,
.server-prop-info-right label{
    font-weight: bold;
    width: 180px;
}

.info-info-disabled{
    color: #C0C0C0;
}

/**
 * Old Dashboard
*/ 
.server-dashboard{
    width: 100%;
    background: #FFFFFF;
    border: #DDDDDD 1px solid;
}

.server-environment,
.server-properties{
    width: 100%;
    background: #FFFFFF;
    border: #DDDDDD 1px solid;
    margin-bottom: 5px;
}

.session-prop-header,
.session-env-header{
    background: #2F3334 url(../images/panel_bg.gif) repeat-x;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
}

.server-env-title,
.server-prop-title{
    padding: 5px;
}

.server-env-content,
.server-prop-content{
    background: #FFFFFF;
}

.server-prop-info{
    width: 50%;
    height: 180px;
    border-right: #DDDDDD 1px solid;
    margin: 15px;
    float: left;
    position: relative;
}

.server-env-info{
    width: 50%;
    border-right: #DDDDDD 1px solid;
    margin: 15px;
}

.server-prop-info-right{
    padding: 15px;
    height: 180px;
    margin: 15px;
}

.server-env-info-right{
    left: 50%;
    padding: 15px;
    margin: 15px;
    top: 530px;
    position: absolute;
}

.server-env-info{
    height: 280px;
}

.server-log-info{
    height: 380px;
    margin: 0 15px 0 15px;
}

.server-log-info table td{
    color: red;
}
/*
.disk-util{
	position: absolute;
	float: left;
	width: 100%;
}
*/
.info-desc{
    font-weight: bold;
}
.subtitle{
    background: #2F3334;
    width: 100%;
}

.server-env-info label,
.server-prop-info label{
    font-weight: bold;
    width: 180px;
}

.server-env-info-right label,
.server-prop-info-right label{
    font-weight: bold;
    width: 180px;
}

.info-info-disabled{
    color: #C0C0C0;
}
/**
 * Dashboard
*/
.dashboard li {
    background: #ffffff;
    border: 1px solid #ccc;
    width: 320px;
    min-height: 280px;
    float: left;
    margin: 0 20px 20px 0;
    position: relative; 
    z-index: 0;
    cursor: move;
}

.dashboard li.quarter {
    width: 23%;
    margin-right: 2%;
}

.dashboard li.half {
    width: 48%;
    margin-right: 2%;
}

.dashboard li.full {
    width: 100%;
}

.dashboard li.ui-sortable-helper {
    opacity: 0.3;
    /* for IE */
    /* filter: alpha(opacity=30); */
}

.dashboard li h1 {
    color: #333;
    background: url(../images/panel_bg.gif) repeat-x;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    height: 20px;
}

.dashboard li .content {
    width: 100%;
    margin: 0 20px 10px 20px;
    overflow: hidden;
    cursor: auto;
}

.dashboard li.pie .content {
    top: -50px;
    left: -25px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    cursor: auto;
}

.dashboard li .left {
    border-right: 1px dotted #cccccc;
    width: 48%;
    float: left;
    min-height: 200px;
}

.dashboard li .right {
    width: 48%;
    float: right;
}

.dashboard li table,
.dashboard li .left table,
.dashboard li .right table {
    width: 95%;
}

.dashboard li.pie svg {
    height: 250px;
    z-index: 0;
    cursor: auto;
}

.dashboard dl dt {
    font-weight: bold;
    width: 45%;
    float: left;
}

.dashboard dl dd {
    width: 55%;
    float: left
}

.dashboard .whole-line {
    width: 100%;
}

.dashboard .disabled {
    color: #c0c0c0;
}

.dashboard .small-pie {
    height: 250px;
    width: 250px;
    top: 125px;
    left: 20%;
    position: absolute;
}

.dashboard .red {
    color: #ff0000;
}

.dashboard-delete-widget {
    background: url(../images/dash-close-button.png) no-repeat 0 0;
    margin: 20px 18px 0 0;
    width: 11px;
    height: 9px;
    position: absolute;
    right: 0;
    z-index: 1;
    cursor: pointer;
}

/**
 * Store Setup
*/ 
.store-setup-title {
    font-size: 11px;
    padding: 4px 24px 4px 6px;
    margin: -20px 0 10px 0;
    height: 18px;
    cursor: pointer;
    z-index: 999;
    float: right;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #CCCCCC;
}

.store-setup-title.closed {
    background: url('../images/cart.png') no-repeat right 3px;
    opacity: 0.7;
}

.store-setup-title.closed:hover,
.store-setup-title.opened {
    background: url('../images/cart.png') no-repeat right 3px;
    opacity: 1;  
}

#store-setup {
    color: #fff;
    background: transparent url('../images/bg-dash-setup.png');
    padding: 10px 5px 10px 15px;
    margin: 3px 0 0 0;
    width: 160px;
    display: none;  
    position: absolute;  
    z-index: 100;
    right: 38px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/**
 * Dashboard Setup
*/ 
.dashboard-setup-title {
    font-size: 11px;
    padding: 2px 20px 2px 0;
    margin: -20px 0 10px 0;
    height: 18px;
    cursor: pointer;
    z-index: 999;
    float: right;
}

.dashboard-setup-title.closed {
    background: url('../images/icon-setting.png') no-repeat right 3px;
    opacity: 0.7;
}

.dashboard-setup-title.closed:hover,
.dashboard-setup-title.opened {
    background: url('../images/icon-setting.png') no-repeat right 3px;
    opacity: 1;  
}

#dashboard-setup {
    color: #fff;
    background: transparent url('../images/bg-dash-setup.png');
    padding: 10px 5px 10px 15px;
    margin: 3px 0 0 0;
    width: 160px;
    display: none;  
    position: absolute;  
    z-index: 999;
    right: 38px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#dashboard-setup .form-item {
    margin: 3px 0;
    width: 160px;  
    float: left;
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=70);	
}

#dashboard-setup .form-item:hover {
    opacity: 1;
    filter: alpha(opacity=100); 
}

#dashboard-setup .form-item label {
    width: 160px;  
    cursor: pointer;	
}

#dashboard-setup .form-item input {
    margin: 2px 3px 0 0;
    float: left;
    cursor: pointer;	
}

#dashboard-setup .form-item img {
    border: 1px solid #cccccc;
}

#dashboard-setup .form-item .widget-description {
    color: #666;
    font-size: 10px;
    width: 185px;
}

#calendar {
    width: 900px;
    margin: 0 auto;
}

#case-button{
    text-align: center;
    width: 100%;
    padding-left: 68px;
}

.dash-table-alert{
  border: 1px solid rgb(217, 176, 76); 
  padding: 5px 5px 5px 28px; 
  -moz-border-radius-bottomleft: 3px; 
  -moz-border-radius-bottomright: 3px; 
  -moz-border-radius-topleft: 3px; 
  -moz-border-radius-topright: 3px; 
  background-color: rgb(255, 233, 178); 
  background-image: url('../images/icon_warning-small.gif'); 
  background-position: 5px 50%; 
  background-repeat: no-repeat; 
  color: rgb(145, 90, 21); 
  font-weight: bold; 
  margin-bottom: 20px; 
  margin-top: 10px;
  position: relative;
  z-index: 999;
}

.dash-table-alert a{
  color: #FF5C00;
}

/*Begin form vertical formats*/
/*
._25 {
    width: 21%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
._50 {
    width: 46%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
._75 {
    width: 71%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
._100 {
    width: 96%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

._auto {
    width: 96%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

._25 label {
    width: 100%;
}

._50 label {
    width: 100%;
}

._75 label {
    width: 100%;
}

._100 label {
    width: 100%;
}

._auto label {
    width: auto;
}

._25 input {
    border: 1px solid #B3B3B3;
    width: 100%;
}

._50 input {
    border: 1px solid #B3B3B3;
    width: 100%;
}

._75 input {
    border: 1px solid #B3B3B3;
    width: 100%;
}

._100 input {
    border: 1px solid #B3B3B3;
    width: 100%;
}

._auto input {
    border: 1px solid #B3B3B3;
    width: auto;
}

._25 input[type="button"] {
    border: 1px solid #B3B3B3;
    width: auto;
}

._50 input[type="button"] {
    border: 1px solid #B3B3B3;
    width: auto;
}

._75 input[type="button"] {
    border: 1px solid #B3B3B3;
    width: auto;
}

._100 input[type="button"] {
    border: 1px solid #B3B3B3;
    width: auto;
}

._25 input[type="submit"] {
    border: 1px solid #B3B3B3;
    width: auto;
}

._50 input[type="submit"] {
    border: 1px solid #B3B3B3;
    width: auto;
}

._75 input[type="submit"] {
    border: 1px solid #B3B3B3;
    width: auto;
}

._100 input[type="submit"] {
    border: 1px solid #B3B3B3;
    width: auto;
}

._25 textarea {
    border: 1px solid #B3B3B3;
    width: 100%;
}
._50 textarea {
    border: 1px solid #B3B3B3;
    width: 100%;
}

._75 textarea {
    border: 1px solid #B3B3B3;
    width: 100%;
}

._100 textarea {
    border: 1px solid #B3B3B3;
    width: 100%;
}

._auto textarea {
    border: 1px solid #B3B3B3;
    width: auto;
}

._25 select {
    border: 1px solid #B3B3B3;
    width: 100%;
}

._50 select {
    border: 1px solid #B3B3B3;
    width: 100%;
}

._75 select {
    border: 1px solid #B3B3B3;
    width: 100%;
}

._100 select {
    border: 1px solid #B3B3B3;
    width: 100%;

}

._auto select {
    border: 1px solid #B3B3B3;
    width: auto;

}

._25 .multiple-select-container {
    margin: auto;
}

._50 .multiple-select-container {
    margin: auto;
}

._75 .multiple-select-container {
    margin: auto;
}

._100 .multiple-select-container {
    margin: auto;
}

._auto .multiple-select-container {
    margin: auto;
}

.form-narrow {
    width: 400px;
}

.form-medium {
    width: 600px;
}

.form-wide {
    width: 800px;
}*/
/*End form vertical formats*/

/*sortable for route profile and multiple select boxes*/
.multiple-select-container {
  margin-left: 160px;
}

#tabs .listview{
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px 0 20px 0;
  width: 100%;
  float: none;
}

#tabs .pager{
  margin-bottom: 25px;
  float: none;
}

#sortable { 
  list-style-type: none; 
  margin: 0; padding: 0; 
}

#sortable li { 
  margin: 3px 3px 3px 0; 
  padding: 1px; 
  float: left; 
  width: 49%; 
  height: 200px; 
  font-size: 11px; 
  overflow: auto; 
}

#sortable li.closed{ 
  padding: 1px; 
  float: left; 
  width: 49%; 
  height: 33px; 
  font-size: 11px; 
  overflow: auto; 
}

/*
 * CSS for Customer Account 
 */
#customer_account {
	/*background: url('../images/back.png') repeat-y right 0;*/
	float: left;
	width: 100%;
}
 
.customer_account_block  {
	margin: 0 0 15px 0;
	width: 100%;
	float: left;
	clear: left;
	display: block;
}
 
.customer_account_block h3 {
	color: #FF5C00;
	background: url('../images/arrow-closed.png') no-repeat 0 3px;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 3px 0;
	padding: 0 0 0 13px;
	cursor: pointer;
}

.customer_account_block h3.opened {
	background: url('../images/arrow-opened.png') no-repeat 0 4px;
}

.customer_account_block .info,
.customer_account_block .form {
	margin: 0 0 10px 0;
	width: 97%;
	float: left;
	display: none;	
}

.customer_account_block .form .customer_account_form_cancel,
.customer_account_block .form .customer_account_form_save {
	color: #e83917;
	font-size: 10px;
	border: 1px solid #cccccc;
  margin: 10px 0 0 0;
	cursor: pointer;
}

.customer_account_block .edit {
	font-size: 10px;
	/* background: url('../images/edit-16x16.gif') no-repeat 0 0; 
	padding: 0 0 0 10px; */
	float: right;
	cursor: pointer;
}

.customer_account_block dl {
	width: 650px;
	font-size: 11px;
	margin: 0;
	float: left;
}

.customer_account_block dt,
.customer_account_block dd {
	margin: 0;
	padding: 1px 0 3px;
}

.customer_account_block dl dt {
  color: #808080; 
	width: 180px;
	float: left;
	clear: left;
}

.customer_account_block dl dd {
	/* color: #e83917; */
	color: #000;
	width: 460px;
	float: left;
}

.customer_account_block #customer_account_message {
	font-size: 11px;
	margin: 5px 0 0 0;
}

.customer_account_block input, 
.customer_account_block select, 
.customer_account_block textarea, 
.customer_account_block td {
	font-size: 11px;
}

.customer_account_block .hive-table,
.customer_account_block .hive-table tr td,
.customer_account_block table,
.customer_account_block td {
	border: none;
	border-style: none;
}

.customer_account_block .customer_account_block {
	border: none;
	margin: 0 0 0 120px;
	width: 98%px;
}

.customer_account_block .customer_account_block .info,
.customer_account_block .customer_account_block .form {
	width: 98%px;
	float: left;
	display: none;
}

.customer_account_block  .customer_account_block dl dt {
	width: 160px;
}

.customer_account_block  .customer_account_block dl dd {
	width: 300px;
}

.payment-update{
  width: 100%;
  height: 25px;
  background: url('../images/block-bg-alert.gif') repeat-x 0 4px;
  color: white;
  font-weight: bold;
  padding: 9px 0 0 10px;
  font-size: medium;
  float: left;
} 
.payment-update span{
  color: white;
  text-decoration: none;
} 
/**
 * Billing Summary
 */
#billing-summary {
	margin: 0 0 10px 0;
	width: 250px;
	display: block;
}

#billing-summary dl {
	font-size: 11px;
	margin: 0;
	line-height: 21px;
}

#billing-summary dl dt {
	float: left;
	padding: 0 10px 0 0;
}

#billing-summary dl dd {
	font-weight: bold;
}

#billing-summary .red {
	color: red;
}

.block-wrapper {
	color: #666;
	background: #ffffff;
	border: 1px solid #ccc;
	padding: 1px;
}

.block-inner-div {
	background: url('../images/block-bg.gif') repeat-x;
	padding: 10px;
}

.block-title {
	color: #e83917;
 	font-size: 12px;
	font-weight: bold;
	margin: 0;
	width: 100%;
}
/*
 * Orders, Trouble Ticket, Route Profile
 */
 
.order_tasks {
	background: #d7d7d7;
}

.list_route_profile_table,
.list_trouble_ticket_table,
.list_order_task_table,
.list_order_table {
  width: 100%;
	float: left;
	border: 0;
}

.list_order_task_table thead th,
.list_order_task_table tr td {
	padding: 6px;	
}

.list_order_task_table thead th {
	padding-left: 2px;
}

.trouble_ticket_notes textarea,
.order_task_notes textarea,
.order_notes textarea {
	margin: 10px;
}

.trouble_ticket_notes label,
.order_task_notes label,
.order_notes label {
	font-size: 10px;
	float: none;
}

.route_profile_edit,
.trouble_ticket_simple_note,
.trouble_ticket_edit,
.order_simple_note,
.order_task_simple_note,
.order_edit {
  cursor: pointer;	
}

.close_route_profile_features,
.close_trouble_ticket_notes,
.close_order_task_notes,
.close_order_tasks,
.close_order_notes {
	color: red;
	font-size: 10px;
	float: right;
  cursor: pointer;
}

.trouble_ticket_msg,
.order_error_msg,
.order_success_msg {
  font-size: 11px;
}

.trouble_ticket_error_msg,
.order_error_msg {
	color: red;
}

.trouble_ticket_hidden_priority,
.trouble_ticket_hidden_status,
.order_hidden_status, 
.order_task_hidden_status{
	display: none;
}

.past_notes {
	color: #999;
}

.features_wrapper {
  text-align: center;
}

.edit_profile_name_container,
.feature_sortable {
	background: #eee;
	border: 1px solid #ccc;
	margin: 20px 0;
	padding: 10px;
	width: 500px;
	float: left;
}

.feature_sortable .hive-table {
	float: left;
}

.feature_sortable .hive-table .c1 {
	width: 35%;
}

.all_features {
    width: 500px;
}

.save_route_profile_features,
.edit_profile_name_container, 
.all_features {
    text-align: left;
    margin: 20px auto;	
}

.feature_sortable:hover {
	background: #fff;
}

.edit_profile_name_container h2,
.feature_sortable h2 {
	background: url('../images/arrow-drag-drop.png') no-repeat 0 4px;
	font-size: 13px;
	margin: 0;
	padding: 0 0 0 12px;
	cursor: pointer;
}

.edit_profile_name_container h2 {
	background: none;
}

.edit_profile_name_container input {
    margin: 6px 0 0 10px;
    width: 300px
}

.feature_sortable .hive-table {
	border: none;
}

.fax2mail_dist_list,
.find_me_follow_me_numbers,
.ring_group_numbers,
.feature_field_hidden {
	display: none;
}

.feature_sortable .hive-table tr td {
    padding: 6px;
}
.feature_sortable .dtmf_field, 
.feature_sortable #OnNoAnswer, 
.feature_sortable #OnBusy, 
.feature_sortable #OnUnavailable {
    width: 40px
}

.feature_status_message {
    margin: 20px auto 20px auto;
    width: 500px;
    text-align: left;
}

.edit_wrapper,
.button_wrapper {
    margin: 0 auto 0 auto;
    width: 500px;
    text-align: left;
}

.button_wrapper input {
		text-align: center;
}

/**
 * Dashboard sortable
*/
#dashboard-widgets {
  width: 100%;
  padding-top: 13px;
}

.dashboard-delete-widget {
  background: url(../images/dash-close-button.png) no-repeat scroll right center transparent;
  right: 10px;
  width: 100%;
  height: 6px;
  position: static;
  z-index: 1;
  cursor: pointer;
  margin-top: 5px;
}

#sortable1, #sortable2, #sortable3 { 
  list-style-type: none; 
  margin: 5px; 
  padding: 0; 
  float: left; 
  margin-right: 0; 
  /*background: #f1f1f1; */
  padding: 10px; 
  width: 30%; 
  min-height: 700px; 
  /*border: solid 1px #e3e3e3;*/
}
  
#sortable1 li, #sortable2 li, #sortable3 li { 
  margin: 5px; 
  padding: 5px; 
  width: 95%; 
  -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;*/
}

.ui-state-default{
  font-size: 10px;
  color: #505050;
}
.ui-state-default h1{
  padding: 0 0 0 3px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid 1px #c9c9c9;
  background: #ededed;
  margin: 0 0 10px 0;
}
.ui-state-default:hover {
  background: #ffffff;
}

.ui-state-default li .left {
  border-right: 1px dotted #cccccc;
  width: 48%;
  float: left;
  min-height: 200px;
}

.ui-state-default li .right {
  width: 48%;
  float: right;
}

.ui-state-default li table,
.ui-state-default li .left table,
.ui-state-default li .right table {
  width: 95%;
}

.ui-state-default table{
  clear: both;
  float: none;
  margin: 0;
  width: 100%;
}
.ui-state-default table tr{
  clear: both;
}
.ui-state-default table tr td{
  padding: 3px 0 3px 3px;
}

.ui-state-default .small-pie {
  height: 74px;
  width: 100%;
}

.ui-state-default .max-trunks {
  height: 220px;
  width: 100%;
}
.log-image{
  background: url('../images/user_icon.png') no-repeat;
  background-position: center center;
  width: 22px;
  height: 23px;
  float: left;
  margin-right: 5px;
}
.log-message{
  padding: 3px;
}

.total-calls{
  height: 180px;
}

.extra-function{
  clear: both;
  font-size: 10px;
  width: 100%;
  text-align: right;
  padding-right: 3px;
}

.extra-function a{
  color: gray;
}

.extra-function a:hover {
  color: black;
  cursor: pointer;
}

