# Igreno Mac OS files
.DS_Store

#Ignore VagrantFile
Vagrantfile

#Ignore Netbeans paths 
nbprojects/

#Ignore default Natural files
bootstrap.dev.php
compilation_cache/
files/

#Ignore komodo files
Natural
Natural.komodoproject

#Ignore libs installed with composer
vendor/
composer.lock
