<!-- Widget blocks  -->
<div class="portlet ui-state-default ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" id="widget_{{ widget_id }}">
    <div class="naturalwidget-header">
        <i class="{{ icon }} naturalwidget-icon"></i>
        <span class="widget-title">{{ widget_title }}</span>
        <span class="naturalwidget-ctrls" role="menu">
            <a class="button-icon button-min" data-placement="bottom" title="" rel="tooltip" href="#" data-original-title="Collapse">
                <i class="fa fa-minus "></i>
            </a>
            <a class="button-icon  button-close" data-placement="bottom" title="" rel="tooltip" href="javascript:void(0);" data-original-title="Delete">
                <i class="fa fa-times"></i>
            </a>
        </span>
    </div>
    
    <div class="naturalwidget-content" id="{{ widget_function }}">
        <input type="hidden" class="functions" name="function_to_call[]" value="{{ widget_function | raw }}">
    </div>
</div>