{% extends 'content.html' %}

{% block page_title %}
  {{ page_title }}
{% endblock %}

{% block page_subtitle %}
  {{ page_subtitle }}
{% endblock %}


{% block content %}
  <div class="panel panel-default">
    <div class="panel-body">
      {{ content|raw }}

      <form id="{{ form_id }}" name="{{ form_name }}" method="{{ form_method }}" action="{{ form_action }}" onsubmit="{{ form_onsbumit }}" class="{{ form_class }}" >

        {% for field in fields %}

          {% if field.html_type == 'hidden' %}
            <input type="hidden" data-id="{{ field.id }}" id="{{ field.field_id }}" class="form-control form-hidden" value="{{ field.def_val }}" {{ field.html_options }}>
          {% else %}
            <div class="input-group {{ field.html_type }}">

              {% if field.def_label %}
                <label>{{ field.def_label }} {% if field.required == true %}<span class="field-required">*</span>{% endif %}</label>
              {% endif %}

              {{ field.prefix }}

              {# text #}
              {% if field.html_type == 'text' %}
                <input type="text" data-id="{{ field.id }}" name="{{ field.field_id }}" id="{{ field.field_id }}" class="form-control form-text {{ field.css_class }}" value="{{ field.def_val }}" {% if field.html_options %} {{ field.html_options }} {% else %} size="75" {% endif %} onClick="{{ field.click }}" onFocus="{{ field.focus }}" onBlur="{{ field.blur }}">
              {% endif %}

              {# textarea #}
              {% if field.html_type == 'textarea' %}
                <textarea data-id="{{ field.id }}" name="{{ field.field_id }}" id="{{ field.field_id }}" class="form-control form-textarea {{ field.css_class }}" {{ field.html_options }} onClick="{{ field.click }}" onFocus="{{ field.focus }}" onBlur="{{ field.blur }}">
                  {{ field.def_val }}
                </textarea>
              {% endif %}

              {# select #}
              {% if field.html_type == 'list' %}
                <select data-id="{{ field.id }}" name="{{ field.field_id }}" id="{{ field.field_id }}" class="form-control form-select {{ field.css_class }}"  {{ field.html_options }} onClick="{{ field.click }}" onFocus="{{ field.focus }}" onBlur="{{ field.blur }}">
                  {% for option in field.options %}
                     <option value="{{ option.value }}" {{ option.status }}>{{ option.label }}</option>
                  {% endfor %}
                </select>
                <i></i>
              {% endif %}

              {# button/submit #}
              {% if (field.html_type == 'button' or field.html_type == 'submit') %}
                <input type="{{ field.html_type }}" data-id="{{ field.id }}" name="{{ field.field_id }}" id="{{ field.field_id }}" class="btn btn-primary {{ field.css_class }}" value="{{ field.def_val }}" {{ field.html_options }} onClick="{{ field.click }}" onFocus="{{ field.focus }}" onBlur="{{ field.blur }}">
              {% endif %}

              {{ field.suffix }}

            </div>
          {% endif %}

        {% endfor %}

      </form>
    </div>
  </div>
{% endblock %}