{% extends 'content.html' %}

{% block page_title %}
  {{ page_title }}
{% endblock %}

{% block page_subtitle %}
  {{ page_subtitle }}
{% endblock %}


{% block content %}
<div class="panel panel-default ">

  <div class="panel-body table-responsive">

    {% if empty_message %}
      {{ empty_message }}
    {% else %}
      <table class="table table-striped table-hover">

        <thead>
          <tr>
            {% for item in header %}
              <th>{{ item }}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for row, columns in list %}
            <tr data-row="{{ loop.index }}">
            {% for column in columns %}
              <td data-row-column="{{ loop.parent.loop.index }}:{{ loop.index }}"> {{ column|raw }}</td>
            {% endfor %}
            </tr>
          {% endfor %}
        </tbody>

      </table>
      {# list_pagination #}
    {% endif %}

  </div>
</div>
{% endblock %}
